@import "../../../../../../scss/shared-imports.scss";
@include media-breakpoint-up(sm) {
  .background {
    margin: 0;
    padding: 0;

    background: url("../../../../../assets/images/todo-list.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Roboto", sans-serif;
  }
}

.floating-button {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.config-container {
  padding: 0.3rem 1rem;
}
