<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a
        class="page-link"
        href="#"
        aria-label="Previous"
        (click)="changePage(currentPage - 1)"
        [class.disabled]="currentPage === 1"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li
      *ngFor="let _ of [].constructor(totalPages); index as i"
      class="page-item"
    >
      <a
        class="page-link"
        href="#"
        (click)="changePage(i + 1)"
        [class.disabled]="currentPage === i + 1"
      >
        <span>{{ i + 1 }}</span>
      </a>
    </li>
    <li class="page-item">
      <a
        class="page-link"
        href="#"
        aria-label="Next"
        (click)="changePage(currentPage + 1)"
        [class.disabled]="currentPage === totalPages"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
