<div
  class="toast-container position-fixed bottom-0 end-0 p-3"
  style="z-index: 11"
>
  <div
    class="toast show"
    [ngClass]="{
      'bg-primary': toast.theme === toastThemeTypes.PRIMARY || !!toast.theme,
      'bg-danger': toast.theme === toastThemeTypes.DANGER,
      'bg-success': toast.theme === toastThemeTypes.SUCCESS
    }"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    *ngFor="let toast of toastsList"
  >
    <div class="toast-header">
      <strong class="me-auto">{{ toast.header }}</strong>

      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        (click)="onRemoveToast(toast)"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body">
      <span *ngFor="let bodyLine of toast.body">{{ bodyLine }}</span>
    </div>
  </div>
</div>
