@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap-icons/font/bootstrap-icons.css";

// // Variable overrides second
// $primary: #900;
// $enable-shadows: true;
// $prefix: "mo-";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Handlee", cursive;
}

// :root {
//   --blue: #a1a1a1;

// }
